#calendar {
    max-width: 800px;
    margin: 0 auto;
  }
.fc th, .fc td {
    border-width: 3px;
}
.evento-agendado {
  background-color: red;
  pointer-events: none; /* Impede a seleção do dia */
}
.ocultar {
  display: none;
}

.mostrar {
  display: block;
}
.ocultar2 {
  opacity: 0;
  pointer-events: none;
}